<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js"></script>
  <script src="static/js/script.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/baku-ajax.js"></script>

  <title>Baku Project</title>
</head>

<body>

  <!-- <h1>{{message}}</h1> -->
  <!-- Menu -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-2">
        <a href="#"><img id="logo" src="static/assets/images/logo.png" alt=""></a>
      </div>

      <div class="col-10 mt-2 mt-lg-3">
        <ul class="nav justify-content-end">
          <li class="nav-item d-none d-md-block align-self-center">
            <a class="nav-link" href="#project">project</a>
          </li>

          <li class="nav-item ml-3 d-none d-md-block">
            <a class="nav-link" href="#analysis-tools">analysis tools</a>
          </li>

          <li class="nav-item ml-3 d-none d-md-block">
            <a class="nav-link" href="#database">database</a>
          </li>

          <li class="nav-item ml-3 d-none d-md-block">
            <a class="nav-link" href="#contributors">contributors</a>
          </li>

          <li class="nav-item ml-3" id="languages">
            <a class="btn btn-secondary btn-test" href="/az">az</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Banner -->
  <div id="banner" class="container-fluid mt-5">
    <div class="container">
      <div class="row mt-3 mt-lg-0 justify-content-lg-between justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-lg-left align-self-center">
          <span class="banner-title">Large High-quality Corpus building from Web and Text
            Classification for Azerbaijani Language</span><br>
          <a class="btn btn-secondary mt-3 btn-test justify-content-center" href="#analysis-tools">test now</a>
        </div>
        <div class="col-4 justify-content-end d-none d-lg-block">
          <img src="static/assets/images/banner.png" class="banner-image" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Project Idea -->
  <div class="container mt-5" id="project">
    <span class="title">project</span>
    <div class="row mt-3">
      <div class="col-12 col-lg-6 about-us">
        <div class="text pl-3 mt-3">
          <!-- <span>
            In Natural Language Processing (NLP) text classification is determining the category of a given text based
            on its content. While text classification tools exist for some languages such as English, Spanish and
            Chinese, a robust version of such a tool is not available for the Azerbaijani language.
          </span>
          <br><br> -->
          <span>
            Due to the absence of a quality text classification tool in Azerbaijani language the main purpose of
            thisproject was to develop a robust, open-source textclassification tool for Azerbaijani language.
            Further-more, prior to our work, the presence of a large,clean, plain-text data based on Azerbaijani
            bookswas almost nonexistent. Therefore, second goal ofthe project was to create a large plain-text
            corpusbased on the books in Azerbaijani language acrossa number of categories
          </span>
          <br><br>
          <span>
            We would like to express our deep and sincere gratitude to our research supervisors Dr. Abzatdin Adamov and
            Dr. Samir Rustamov who are the professors of School of Information Technologies and Engineering at ADA
            University for their great contributions and invaluable guidance throughout the SDP project on the topic
            "Development of text classification for Azerbaijani Language".
          </span>
          <br><br>
          <a class="report" href="../static/assets/SDP_Final_Report.pdf" target="_blank">see our thesis here</a>
        </div>
      </div>

      <div class="col-6 d-none d-lg-flex align-items-center justify-content-end">
        <img src="static/assets/images/banner-img.png" id="project-idea-img" alt="">
      </div>
    </div>
  </div>


  <!-- Statistics -->
  <div id="statistics">
    <div class="container">
      <div class="row mb-5">
        <div class="container mt-5 mb-4">
          <div class="row justify-content-center justify-content-lg-between">

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">
              <span class="statistics" id="books">3068</span><br>
              <span class="names mb-2">books</span><br>
            </div>

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">
              <span class="statistics" id="sentences">6256737</span><br>
              <span class="names mb-2">sentences</span><br>
            </div>

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">
              <span class="statistics" id="categories">0</span><br>
              <span class="names mb-2">categories</span><br>
            </div>

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">
              <span class="statistics" id="words">77994525</span><br>
              <span class="names mb-2">words</span><br>
            </div>

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">
              <span class="statistics" id="unique-words">3500169</span><br>
              <span class="names mb-2">unique words</span><br>
            </div>

            <div class="col-8 col-lg-4 justify-content-center mb-3 text-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Analysis Tools -->
  <div class="container mt-3 mb-3" id="analysis-tools">
    <span class="title">analysis tools</span>
    <div class="row mt-3">

      <div class="col-12 col-lg-2">
        <div class="input-group mt-4 d-flex flex-column justify-content-center">
          <form method="POST" action="/resp" name="bakuForm">

            <div class="algorithms mb-3">
              <input type="radio" id="lemmatizer" name="algorithms" value="lemmatizer" class="mr-2">
              <label for="lemmatizer">lemmatizer</label><br>
            </div>

            <div class="algorithms">
              <input type="radio" id="text-classifier" name="algorithms" value="text-classifier" class="mr-2">
              <label for="text-classifier">text-classifier</label><br>
            </div>

            <!-- <input class="btn btn-secondary btn-lemmatizer mb-2 w-100" name="lemmatizer" id="lemmatizer"
              type="checkbox"> lemmatizer
            <input class="btn btn-secondary btn-text-classifier mb-3 mt-2 w-100" name="text-classifier"
              id="text-classifier" type="button" value="text classifier"> -->

            <!-- <div class="d-none text-center" id="algorithms">
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                  value="naive_bayes" checked>
                <label class="form-check-label" for="exampleRadios1">
                  naive bayes
                </label>
              </div>

              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                  value="neural_networks">
                <label class="form-check-label" for="exampleRadios2">
                  neural networks
                </label>
              </div>

              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                  value="random_forest">
                <label class="form-check-label" for="exampleRadios3">
                  random forest
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4"
                  value="support_vector_machine">
                <label class="form-check-label" for="exampleRadios4">
                  support vector machine
                </label>
              </div>
            </div> -->

        </div>
      </div>

      <div class="col-12 col-lg-5">

        <div class="form-group mt-3">
          <span class="subtitle">input</span>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="inText" rows="10"
            placeholder="type your text here..."></textarea>
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="form-group mt-3">
          <span class="subtitle">output</span>
          <div id="baku-output">
          </div>

          <textarea class="form-control" id="exampleFormControlTextarea2" rows="10"
            placeholder="the result will appear here..." name="outText" readonly></textarea>
        </div>
        </form>

        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-secondary btn-test"
            onclick="interact(document.bakuForm.inText.value, document.bakuForm.lemmatizer.checked, document.bakuForm.exampleRadios.value)">
            see the result
          </button>

        </div>


      </div>

    </div>
  </div>
  </div>

  <!-- Application Areas -->
  <div class="container">
    <span class="title">application areas</span>
    <div class="row mt-3">
      <div class="col-12 col-md-6 mt-4 d-flex flex-column">
        <span class="mb-3"><i class="fa fa-check mr-3" aria-hidden="true"></i>Support ticket organization</span>
        <span class="mb-3"><i class="fa fa-check mr-3" aria-hidden="true"></i>Content aggregation and clustering</span>
        <span><i class="fa fa-check mr-3" aria-hidden="true"></i>Content aggregation and clustering</span>
      </div>

      <div class="col-12 offset-md-2 col-md-4 mt-4 d-flex flex-column">
        <span class="mb-3"><i class="fa fa-check mr-3" aria-hidden="true"></i>vertical search engines</span>
        <span class="mb-3"><i class="fa fa-check mr-3" aria-hidden="true"></i>market research</span>
        <span class="mb-3"><i class="fa fa-check mr-3" aria-hidden="true"></i>email provider</span>
      </div>
    </div>
  </div>


  <!-- Contributors -->

  <div class="container-fluid mt-5" id="contributors">
    <div class="container">
      <span class="title">contributors</span>
      <div class="row justify-content-around mt-5">

        <div class="col-6 col-md-3 justify-content-center mb-3 text-center">

          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/abzatdin-muellim.png" id="img_abzetdinm" alt=""><br>
            <div class="overlay" id="overlay_abzetdinm">
              <a href="https://www.linkedin.com/in/adamov/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <span class="names mb-lg-2">Abzatdin Adamov</span><br>
          <span class="faculties">mentor</span>
        </div>

        <div class="col-6 col-md-3 justify-content-center mb-3 text-center">

          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/samir-muellim.png" id="img_samirm" alt=""><br>
            <div class="overlay" id="overlay_samirm">

              <a href="https://www.linkedin.com/in/samir-rustamov-83752427/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>
          </div>

          <span class="names mb-lg-2">Samir Rustamov</span><br>
          <span class="faculties">mentor</span>
        </div>
      </div>

      <div class="row justify-content-between mt-lg-5">

        <div class="col-6 col-md-3 justify-content-center mb-3 text-center">
          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/amir.png" id="img_amir" alt=""><br>

            <div class="overlay" id="overlay_amir">
              <a href="https://www.linkedin.com/in/amir-adamov-84029b1ab/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <span class="names mb-2">Amir Adamov</span><br>
          <span class="faculties">student | BSCS'21</span>
        </div>

        <div class="col-6 col-md-3 justify-content-center mb-3 text-center">
          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/gunesh.png" id="img_gunash" alt=""><br>
            <div class="overlay" id="overlay_gunash">
              <a href="https://www.linkedin.com/in/gunash-hajiyeva-b70263167/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
          <span class="names mb-2">Gunash Hajiyeva</span><br>
          <span class="faculties">student | BSCS'21</span>
        </div>

        <div class="col-6 col-md-3 justify-content-center mb-3 text-center">
          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/ismayil.png" id="img_ismayil" alt=""><br>
            <div class="overlay" id="overlay_ismayil">
              <a href="https://www.linkedin.com/in/ismayil-karimli/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
          <span class="names mb-2">Ismayil Karimli</span><br>
          <span class="faculties">student | BSIT'21</span>
        </div>

        <div class="col-6 col-md-3 justify-content-center mb-5 text-center">
          <div class="contributor">
            <img class="us-img mb-2" src="static/assets/images/narmina.png" id="img_narmina" alt=""><br>

            <div class="overlay" id="overlay_narmina">
              <a href="https://www.linkedin.com/in/nargayeva/" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
          <span class="names mb-2">Narmina Aghayeva</span><br>
          <span class="faculties">student | BSIT'22</span>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

</html>