<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It is Just An Example</h1>

    <form action="/out" method="POST">
        <!-- <select name="tools" id="tools" size="4"> -->
            <input type="radio" id="lemmatizer" name="algorithms" value="lemmatizer" class="mr-2">
            <label for="lemmatizer">lemmatizer</label><br>
            
            <input type="radio" id="text-classifier" name="algorithms" value="text-classifier" class="mr-2">
            <label for="text-classifier">text-classifier</label><br>
        </select><br>
        <textarea name="text" id="text" cols="30" rows="10" placeholder="Write soething..."></textarea><br>
        <input type="submit" value="submit">
    </form>
    {% if message %}
          <h1>{{message}}</h1>
          {% endif %}
</body>
</html>